# vg_state_data

importing needed libraries

In [4]:
import pandas as pd
import numpy as np

/home/haya/code-401/vg-stats/.venv/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [5]:
vg_states = pd.read_csv("datasets/vgsales.csv")

In [6]:
vg_states.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# 1- Which company is the most common video game publisher?
expected is Electronic Arts

In [7]:
the_most_frequent = vg_states["Publisher"].value_counts().keys()[0]
the_most_frequent

'Electronic Arts'

In [8]:
expected = "Electronic Arts"
assert expected == the_most_frequent
print("pass")

pass

# 2- What's the most common platform?
expected is DS

In [9]:
most_common_plat = vg_states["Platform"].value_counts().keys()[0]
most_common_plat

'DS'

In [10]:
expected = "DS"
assert expected == most_common_plat
print("pass")

pass

# 3- What about the most common genre?
expected is Action

In [11]:
most_common_genre = vg_states["Genre"].value_counts().keys()[0]
most_common_genre

'Action'

In [12]:
expected = "Action"
assert expected == most_common_genre
print("pass")

pass

# 4- What are the top 20 highest grossing games?
expexted 
```
                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22
```

In [13]:
top_20_gross = vg_states.sort_values(by="Global_Sales",ascending=False).head(20)[["Name","Platform","Global_Sales"]]
top_20_gross

                                            Name Platform  Global_Sales
0                                     Wii Sports      Wii         82.74
1                              Super Mario Bros.      NES         40.24
2                                 Mario Kart Wii      Wii         35.82
3                              Wii Sports Resort      Wii         33.00
4                       Pokemon Red/Pokemon Blue       GB         31.37
5                                         Tetris       GB         30.26
6                          New Super Mario Bros.       DS         30.01
7                                       Wii Play      Wii         29.02
8                      New Super Mario Bros. Wii      Wii         28.62
9                                      Duck Hunt      NES         28.31
10                                    Nintendogs       DS         24.76
11                                 Mario Kart DS       DS         23.42
12                   Pokemon Gold/Pokemon Silver       GB         23.10
13                                       Wii Fit      Wii         22.72
14                                  Wii Fit Plus      Wii         22.00
15                            Kinect Adventures!     X360         21.82
16                            Grand Theft Auto V      PS3         21.40
17                 Grand Theft Auto: San Andreas      PS2         20.81
18                             Super Mario World     SNES         20.61
19  Brain Age: Train Your Brain in Minutes a Day       DS         20.22

In [14]:
expected = pd.read_csv("datasets/test_top_20.csv")
assert (expected["Global_Sales"]==top_20_gross["Global_Sales"]).all()
print("Pass")

Pass

# 5- For North American video game sales, what's the median? 

expected 
10games
```
Spider-Man: Edge of Time
Turok: Evolution
Deadpool
GT Advance 2: Rally Racing
A Witch's Tale
Nickelodeon Dance
Phantasy Star Collection
LEGO Knights' Kingdom
Family Game Night 4: The Game Show
NBA Jam 2002
```

In [15]:
vg_states["NA_Sales"].median()

0.08

# 6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
expected 50.47898767479108

> I got help from family memeber to solve this

In [85]:
game_top = vg_states.sort_values("Global_Sales",ascending=False).iloc[0]["Name"]

In [86]:
vg_states[vg_states["Name"]==game_top]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [88]:
mean = vg_states["NA_Sales"].mean()

In [89]:
std = vg_states["NA_Sales"].std()

In [93]:
num_of_std = (41.49-mean)/std
num_of_std

50.47898767479108

In [94]:
expected = 50.47898767479108
assert num_of_std == expected
print("Pass")

Pass

# 7- The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

```
Not Wii 0.5233896418516336
Wii 0.6994037735849057
```

In [18]:
not_wii_sales = vg_states[vg_states["Platform"]!="Wii"]["Global_Sales"].mean()
not_wii_sales

0.5233896418516336

In [19]:
wii_sales = vg_states[vg_states["Platform"]=="Wii"]["Global_Sales"].mean()
wii_sales

0.6994037735849057

In [20]:
#not wii test 
expected = 0.5233896418516336
assert expected == not_wii_sales
print("Pass")

Pass

In [21]:
#wii test 
expected = 0.6994037735849057
assert expected == wii_sales
print("Pass")

Pass

Come up with 3 more questions that can be answered with this data set.

In [37]:
vg_states.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# 1. What if the least common genre played

In [41]:
vg_states["Genre"].value_counts().keys()[-1]

'Puzzle'

# 2. What is the least common platform

In [42]:
vg_states["Platform"].value_counts().keys()[-1]

'PCFX'

# 3. the top sale game in japan

In [50]:
vg_states[["JP_Sales","Name"]].sort_values(by= "JP_Sales",ascending=False).head(1)["Name"]

4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object